:root{
    --mint-cream : #F1F7ED;
    --msu-green : #243E36;
    --forest-green : #7CA982;
    --nyanza : #E0EEC6;
    --gold : #C2A83E;
    --white: #fff;
    --black : #212529;
}

*{
    margin : 0;
    padding : 0;
    font-size : 16px;
}
p{
    margin-bottom: 0 !important;
}
.main{
    min-height : 100vh;
    width : 100% ;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right,#243e36d7,#7ca982d3),url("../images/stock__cover.jpg");
    background-size: cover;
    position : relative;
}

.main-content{
    position : absolute;
    top : 50%;
    left : 50%;
    color :var(--white);
    transform : translate(-50%,-40%);
    letter-spacing : 3px;
    text-align : center;
    text-transform : uppercase;
}

.sub-heading{
    font-weight : 600;
}
.btn--white{
    padding : 0.75rem 2rem !important;
    background-color: var(--white) !important;
    border-radius : 0.75rem !important;
    text-align: center;
}
.btn:focus{
    box-shadow: none !important;
}
.btn-icon{
    width : 1rem;
    height : 1rem;
    margin-left : 0.5rem;
}
.btn--link{
    text-decoration: none;
    color : var(--black);
}

.logo{
    background-color : var(--mint-cream);
    border-radius : 0.75rem;
    padding : 1rem;
    width : 15rem;
    height : 6rem;
    margin-bottom: 1rem;
}

.dialog{
    position : absolute;
    top : 50%;
    left : 50%;
    width : 40%;
    transform : translate(-50%,-50%);
    background-color : var(--mint-cream);
    padding : 2rem;
    border-radius : 0.75rem;
    transition : 0.5s ease all;
}

.form__phone{
    border : 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color : var(--white);
}

.form__phone__countrycode{
    border-right : 1px solid #ced4da;
    padding : 0.6rem 1rem;
}

.form__phone__input{
    width: 100%;
    border : none !important;
    padding : 0 1rem;
}

.from__phone__input:focus-visible{
    outline : none !important;
    width : 100%;
}
:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.error-text{
    color : red;
}

.w-50{
    width : 50%;
}

.login-heading{
    margin-bottom : 2rem;
}

.display-none{
    display : none;
}

.form-display{
    animation : 2s ease;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color:var(--forest-green);
    color: var(--mint-cream);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@media all and (max-width : 500px){
    .dialog{
        width : 90%;
        padding : 1rem;
        display : flex;
        flex-direction : row;
        justify-content : space-around;
        align-items: center;
    }
}